
    {% extends 'user_templates/user_master.html' %} {% load static %} {% block content %}
    {% load custom_filters %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" as="style">
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-----------------------------------------------------cart details-------------------------------------------------->
    <div class="container my-5 ">
        <h1 class="px-5" style="color:rgb(182, 49, 49) ;">Shopping Cart</h1>

        <div class="shopping-cart pt-3">
            <form method="POST" >
                {% csrf_token %}
                
                 {% for item in items %}  
                 <div class="cart-item">
                    <div class="row justify-content-center align-items-center product">
                        <div class="col-lg-3 product-image">
                            <img class="img-fluid" height="130px" width="200px" src="{{item.product.thumbnail.url}}">
                        </div>
                        <div class="col-lg-3 product-details ">
                            <div class="product-title"><h5>{{item.product.product_name}}</h5></div>
                            <p class="product-description">Size:<b style="text-transform: uppercase;">{{item.variant.size_id.size}}</b></p>
                            <div class="product-price"><b>${{item.product.price}}</b></div>
                            <div class="product-quantity fluid">
                                <input type="number" style="border: 2px solid black; border-radius:5px;" value="{{item.qty}}" min="1" max="{{item.variant.quantity}}" class="cart-quantity-input">
                            </div>
                        </div>
                        
                        <div class="col-lg-3 product-removal">
                            <a class="btn btn-danger remove-product" data-cart-item-id="{{ item.id }}">
                                Remove
                            </a>
                        </div>
                        
                        <div class="col-lg-3 product-line-price"><span style="font-size: 20px; font-weight: bold;">$</span><span style="font-size: 20px; font-weight: bold;" class="product-line-price-e">{{ item.product.price|multiply:item.qty }}</span></div>
                    </div>
                </div> 
                {% endfor %}  
                
                

            


            <div class="totals">
                <div class="totals-item">
                    <label><b>Subtotal:</b></label>
                    <div class="totals-value" id="cart-subtotal"></div>
                </div>
                <div class="totals-item">
                    <label><b>Tax (5%):</b></label>
                    <div class="totals-value" id="cart-tax"></div>
                </div>
                <div class="totals-item">
                    <label><b>Shipping:</b></label>
                    <div class="totals-value" id="cart-shipping"></div>
                </div>
                <div class="totals-item totals-item-total">
                    <label style="color:rgb(182, 49, 49) ; font-size: 32px; font-weight: bold; ">Grand Total :</label>
                    <h4><div class="totals-value" id="cart-total"></div></h4>
                </div>
            </div>

            <button class="btn bg-black checkout" style="color: white;">Checkout</button>
            </form>
        </div>
    </div>
    <!-----------------------------------------------------cart details-------------------------------------------------->

    <script>
        const taxRate = 0.05;
        const shippingRate = 15.00;
        const fadeTime = 300;
    
        $(document).ready(function () {
            // Assign actions
            $('.product-quantity input').change(function () {
                updateQuantity(this);
            });
    
            $('.product-removal a').click(function () {
                removeItem(this);
            });
    
            // Recalculate cart
            recalculateCart();
        });
    
        function recalculateCart() {
            let subtotal = 0;
    
            $('.product').each(function () {
                const price = parseFloat($(this).find('.product-price').text().replace('$', ''));
                const quantity = parseInt($(this).find('.cart-quantity-input').val());
                subtotal += price * quantity;
            });
    
            const tax = subtotal * taxRate;
            const shipping = (subtotal > 0 ? shippingRate : 0);
            const total = subtotal + tax + shipping;
    
            $('#cart-subtotal').text(`$${subtotal.toFixed(2)}`);
            $('#cart-tax').text(`$${tax.toFixed(2)}`);
            $('#cart-shipping').text(`$${shipping.toFixed(2)}`);
            $('#cart-total').text(`$${total.toFixed(2)}`);
        }
    
        function updateQuantity(quantityInput) {
            const productRow = $(quantityInput).closest('.product');
            const price = parseFloat(productRow.find('.product-price').text().replace('$', ''));
            const quantity = parseInt($(quantityInput).val());
            const linePrice = price * quantity;
            productRow.find('.product-line-price-e').text(`${linePrice.toFixed(2)}`);
            recalculateCart();
        }
    
        function removeItem(removeButton) {
            const productRow = $(removeButton).closest('.product');
            productRow.slideUp(fadeTime, function () {
                productRow.remove();
                recalculateCart();
            });
        }
    </script>

    <script>
        $('.remove-product').click(function() {
            var cartItemId = $(this).data('cart-item-id');
            $.ajax({
                url: '{% url "user:delete_from_cart" %}',
                type: 'POST',
                data: {
                    'cart_item_id': cartItemId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    if (data.success) {
                        // Remove item from UI
                        $('.product[data-cart-item-id="' + cartItemId + '"]').slideUp(300, function() {
                            $(this).remove();
                            recalculateCart();
                        });
                    } else {
                        alert('Failed to delete item from cart: ' + data.error);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert('AJAX request failed: ' + errorThrown);
                }
            });
        }); 
    </script>

   <script>
    $(document).ready(function() {
        $(".cart-quantity-input").change(function() {
          var quantity = $(this).val();
          var cartItemId = $(this).closest(".product").find(".remove-product").data("cart-item-id");
          $.ajax({
            url: "{% url 'user:update_cart' %}",
            type: "POST",
            data: {
              'cart_item_id': cartItemId,
              'quantity': quantity,
              'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(response) {
              // Update the cart table with the new data
              $('.shopping-cart').html(response);
            }
          });
        });
      });
   </script>

    
{% endblock %}
    