
  {% extends 'user_templates/user_master.html' %} {% load static %} {% block content %}
  <link rel="stylesheet" href="{% static '/css/styleha.css' %}" as="style">
  <!-----------------------------------------------------main1---------------------------------------------------------->
  <div id="parallax-world-of-ugg">
    <section>
        <div class="parallax-one">
          <!-- <p class="p11">Your Exclusive store for</p> -->
          <h2 style="font-family: impact;">HATS</h2>
      </div>
    </section>
    
    <section class="pad">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-2 col-md-2 col-sm-4 justify-content-start text-start">
            <h4 id="newarrival">page 1 of 1</h4>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 justify-content-end text-end">
            <label class="newarrival"><b>Sort by</b></label>
            <select name="sort" id="">
                <option value="popular">Popular</option>
                <option value="pl">price(lowest first)</option>
                <option value="ph">price(highest first)</option>
                <option value="n">Newest First</option>
            </select>
          </div>
        </div>
        <br><br>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-6 col-sm-6 justify-content-center">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/jacket1.jpg' %}">
                </a>
                <span id="product-discount-label">-23%</span>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Jacket</a></h3>
                <div id="price">$53.55 <span>$68.88</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 justify-content-center">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/products-SL-Type201CrossbodySlingCatalogc2_2000x.jpg' %}">
                </a>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Crossbody Bag</a></h3>
                <div id="price">$75.55</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 justify-content-center">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/cap1.jpg' %}">
                </a>
                <span id="product-discount-label">-23%</span>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Cap</a></h3>
                <div id="price">$53.55 <span>$68.88</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 justify-content-center">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/glove1.jpg' %}">
                </a>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Gloves</a></h3>
                <div id="price">$75.55</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-6 col-sm-6 justify-content-center">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/tshirt1.jpg' %}">
                </a>
                <span id="product-discount-label">-23%</span>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">T-Shirt</a></h3>
                <div id="price">$53.55 <span>$68.88</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 justify-content-center">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/cap3.jpg' %}">
                </a>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Cap</a></h3>
                <div id="price">$75.55</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 justify-content-center">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/cap5.jpg' %}">
                </a>
                <span id="product-discount-label">-23%</span>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Beanie</a></h3>
                <div id="price">$53.55 <span>$68.88</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 justify-content-center">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/hoodie7.jpg' %}">
                </a>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Hoodie</a></h3>
                <div id="price">$75.55</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>   
      
    </div>
{% endblock %}
