{% extends 'user_templates/user_master.html' %} {% load static %} {% block content %}
  <!-----------------------------------------------------main1---------------------------------------------------------->
  <div id="parallax-world-of-ugg">
    <section>
        <div class="parallax-one">
          <p class="p11">Your Exclusive store for</p>
          <h2 style="font-family: impact;">Streetwear Fashion</h2>
      </div>
    </section>
    
    <section class="pad">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12 col-sm-12 justify-content-center">
            <h4 id="newarrival">Latest Drops/Re:Stock</h4>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/jacket1.jpg' %}">
                </a>
                <span id="product-discount-label">-23%</span>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Jacket</a></h3>
                <div id="price">$53.55 <span>$68.88</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/products-SL-Type201CrossbodySlingCatalogc2_2000x.jpg' %}">
                </a>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Crossbody Bag</a></h3>
                <div id="price">$75.55</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/cap1.jpg' %}">
                </a>
                <span id="product-discount-label">-23%</span>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Cap</a></h3>
                <div id="price">$53.55 <span>$68.88</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/glove1.jpg' %}">
                </a>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Gloves</a></h3>
                <div id="price">$75.55</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/tshirt1.jpg' %}">
                </a>
                <span id="product-discount-label">-23%</span>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">T-Shirt</a></h3>
                <div id="price">$53.55 <span>$68.88</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/cap3.jpg' %}">
                </a>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Cap</a></h3>
                <div id="price">$75.55</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/cap5.jpg' %}">
                </a>
                <span id="product-discount-label">-23%</span>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Beanie</a></h3>
                <div id="price">$53.55 <span>$68.88</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/hoodie7.jpg' %}">
                </a>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Hoodie</a></h3>
                <div id="price">$75.55</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/strap1.jpg' %}">
                </a>
                <span id="product-discount-label">-23%</span>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Strap on belt</a></h3>
                <div id="price">$53.55 <span>$68.88</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/mask1.jpg' %}">
                </a>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Magnetic mask</a></h3>
                <div id="price">$75.55</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/mask4.jpg' %}">
                </a>
                <span id="product-discount-label">-23%</span>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Mask</a></h3>
                <div id="price">$53.55 <span>$68.88</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/jogger4.jpg' %}">
                </a>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Jogger</a></h3>
                <div id="price">$75.55</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/hoodie4.jpg' %}">
                </a>
                <span id="product-discount-label">-23%</span>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Hoodie</a></h3>
                <div id="price">$53.55 <span>$68.88</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/jogger2.jpg' %}">
                </a>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Jogger</a></h3>
                <div id="price">$75.55</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/gymbag1.jpg' %}">
                </a>
                <span id="product-discount-label">-23%</span>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Duffel Bag</a></h3>
                <div id="price">$53.55 <span>$68.88</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 justify-content-center p-3">
            <div id="product-grid">
              <div id="product-image">
                <a href="#" id="image">
                  <img src="{% static 'images/boxer1.jpg' %}">
                </a>
                <a href="" id="add-to-cart">Add to Cart</a>
              </div>
              <div id="product-content">
                <h3 id="title"><a href="#">Boxers</a></h3>
                <div id="price">$75.55</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12 col-sm-12 justify-content-center">
            <img src="{% static 'images/banner2.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>

    </section>   
    <section>
      <div class="parallax-three">
        <h2>CYBERPUNK<br>
           BOMBER-JACKET</h2>
      </div>
    </section>
      
    </div>
{% endblock %}
   